*{
    font-family: 'Merriweather', serif;
    font-family: 'Futura', sans-serif;
    margin-left: 0vw;
    background-color: #111111;
    color: white;
    
}

.nav-body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: -1vh;
    min-height: 8vh;
    width: 100%;
    z-index: 10;;
}

.nav-button{
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    height: 100%;
    width: 100%;
}
.nav-button:active{
    background-color: #343a40;
}

/* About me */

.me-body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
}

.about-me{
    display:flex;
    justify-content: center;
    flex-direction: column;
    
    height: 45vh;
    width: 20vw;
    max-height: 400;
    max-width: 600;
    min-height: 300;
    min-width: 500;

    overflow-y: auto;
}
.about{
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
    
    height: 45vh;
    width: 20vw;
    max-height: 400;
    max-width: 600;
    min-height: 300;
    min-width: 500;

    margin-left: 25px;
    margin-right: 25px;
    overflow-y: auto;
    

}

.content{ 
    margin:auto;
    max-width: 40vw;
    object-fit: contain;
    order:3;
}
.img-wrapper{
    margin-left: 5vw;
}
.me-img{
    height: 300px;
    width: 300px;
    border-radius: 150px;
    box-shadow: 3px 3px #262626;
}

.socials{
    display: flex;
    justify-content: center;
}

.logo-img{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin: 20px
}
.experience-wrapper{
    margin-left: 8vw;
    margin-right: 8vw;
}
.experience-title{
    padding: 40px;
}


/* Projects */

.games{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.unity{
    height: 75vh;
    width: 75vw;
    margin-top: 2vh;
    margin-bottom: 8vh;
    object-fit:contain;
    padding:20px;
}

.skillset-body{
    display: flex;
    flex-direction: row;

}
.skillset-title{
    font-size: 40px;
}
.skillset-title-content{
    font-size: 28px;
    margin-right: 50px;
    min-width: 25vw;
}

.projects-title{
    font-size: 40px;

}

.project{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.skills{
    margin-left: 8vw;
    margin-right: 8vw;
}

.content-block{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.bottom-content-note{
    margin-top: 2ß0px;
}

.input{
    background-color: white;
    color: black;
}

.contact-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;

    color: white;

    z-index: 10;
}

.contact-input{
    font-size: 20px;
    width: 350px;

}
#email-2{
    display: none;
}

.contact-title{
    font-size: 36px;
}
.layer2{
    margin-top: 400px;
}
.layer3{
}
.layer4{
    margin-top: -750px
}
.layer5{
    
}

@media only screen and (max-width: 800px){
    .me-body{
        margin-top: -50px;
    }
    .about-me{
        display:flex;
        align-items: center;
        flex-direction: column;
        width: 90vw;

    }
    .about{
        order:0;
    }
    .me-body{
        flex-direction: column;
    }
    .img-wrapper{
        order: 1;
    }
    .me-img{
        width: 40vw;
        height: 40vw;
        border-radius:
         25vw;
    }
    .skillset-body{
        display: flex;
        flex-direction: column;
    
    }
    .skillset-title{

        font-size: 40px;
    }
    .skillset-title-content{
        margin-bottom: 20px;

        font-size: 28px;
        margin-right: 50px;
        min-width: 25vw;
    }
    

    .experience-wrapper{
        flex-direction: column;

    }
    .project{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .about{
        display:flex;
        justify-content: flex-start;
        flex-direction: column;
        
        margin: auto;

        height: 60vh;
        width: 80vw;
        max-height: 400;
        max-width: 600;
        min-height: 300;
        min-width: 500;
    
        overflow-y: auto;
        order:2;
    
    }

    .content{ 
        margin:auto;
        margin-top: 25px;
        max-width: 90vw;;
        object-fit: contain;
        order:1;
    }
    .layer2{
        margin-top: 60vh;
    }
    .layer3{
        margin-top: 50vh;
    }
    .layer4{
        margin-top: 85vh;
    }
    .layer5{
        margin-top: 300vh;
        height: 400px;
    }
}

@media only screen and (max-width: 700px){
    .me-body{
        margin-top: -50px;
    }
    .about-me{
        display:flex;
        align-items: center;
        flex-direction: column;
        width: 90vw;

    }
    .about{
        order:0;
    }
    .me-body{
        flex-direction: column;
    }
    .img-wrapper{
        order: 1;
    }
    .me-img{
        max-width: 250px;
        max-height: 250px;
        width: 50vw;
        height: 50vw;
        border-radius:
         25vw;
    }
    .skillset-body{
        display: flex;
        flex-direction: column;
    
    }
    .skillset-title{

        font-size: 40px;
    }
    .skillset-title-content{
        margin-bottom: 20px;

        font-size: 28px;
        margin-right: 50px;
        min-width: 25vw;
    }
    

    .experience-wrapper{
        flex-direction: column;

    }
    .project{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .about{
        display:flex;
        justify-content: flex-start;
        flex-direction: column;
        
        margin: auto;

        height: 60vh;
        width: 80vw;
        max-height: 400;
        max-width: 600;
        min-height: 300;
        min-width: 500;
    
        overflow-y: auto;
        order:2;
    
    }

    .content{ 
        margin:auto;
        margin-top: 25px;
        max-width: 90vw;;
        object-fit: contain;
        order:1;
    }
    .layer2{
        margin-top: 60vh;
    }
    .layer3{
        margin-top: 50vh;
    }
    .layer4{
        margin-top: 85vh;
    }
    .layer5{
        margin-top: 300vh;
        height: 400px;
    }
}
@media screen and (max-width: 449px) {
    .layer3{
        margin-top: 75vh;
    }
}